@font-face {
    font-family: 'PoppinsRegular';
    src: url(../../../src/fonts/Poppins-Regular.otf);
}
@font-face {
    font-family: 'PoppinsMedium';
    src: url(../../../src/fonts/Poppins-Medium.otf);
}