:root{
  --color-text: #4f4f4f;
  --color-text-out: #90908e;
  --color-separate: #cccccc;
  --color-menu-bottom: #ffe28c;
  --color-input-out: #ececec;
  --color-background: #fffdf7;
  --color-primary: #ffbf00;
  --color-primary-out: #ffda6f;
  --color-secondary: #fff2cc;
  --color-black: #212121;
  --color-white: #ffffff;
  --color-red: #e74c3c;
  --color-green: #2ecc71;
}


@font-face {
  font-family: 'PoppinsRegular';
  src: url(./assets/fonts/Poppins-Regular.otf);
}
@font-face {
  font-family: 'PoppinsMedium';
  src: url(./assets/fonts/Poppins-Medium.otf);
}


html, body{
  font-family: 'PoppinsRegular', 'Rubik', sans-serif;
  margin: 0;
  background: var(--color-background);
  color: var(--color-text);
  font-size: 1rem;
}

b{
  font-family: 'PoppinsMedium';
}


.width-fix{
  width: calc(100% - 1.25rem);
  max-width: 50rem;
  margin: 0 auto;
}


.btn-white{
  color: var(--color-black);
  background: var(--color-white);
  border-radius: 1.25rem;
  padding: 0.94rem 1.56rem;
  font-size: 1.25rem;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.btn-yellow{
  border: none !important;
  background: var(--color-primary);
  color: var(--color-black) !important;
  border-radius: 20px;
  padding: 15px 25px;
  font-size: 20px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.btn-sm{
  padding: 0.5rem 0.8125rem;
  border-radius: 0.94rem;
  font-size: 1rem;
}

.hidden{
  display: none !important;
}